extends ./base.pug
block content 
    section.mhead 
        div Message 
    section.mlist
        div.mlist__rBox
            p 받은 메세지(친구 아이디)
            p 내용은 30글자만..
        div.mlist__sBox
            p 보낼 메세지(친구 아이디)
            p 내용은 30글자만..